<form ng-controller="workflowCreator">
  <fieldset>
    <div class="form-group">
      
      <input type="text" class="form-control" id="exampleInputEmail" placeholder="Title">
    </div>
    <div class="form-group">
       <label for="exampleInputEmail">Description</label>
      <textarea name="description" class="form-control" rows="3"></textarea>
    </div>
    </fieldset>
    <fieldset>
    
    <div class="repeaters">
          <!-- Panel 1 -->
          <div class="panel">
            <div class="panel-heading">Status #1</div>
                 <div class="repeat-input">
                        <input type="text" name="status_title[]" placeholder="Title">
                        <input type="text" name="status_description[]" placeholder="Description">
                 </div>
                 <hr />
                 <div class="details">
                      <a href="javascript:void(0)" ng-click="add_details()">Add details</a>
                      <div class="repeat-detail">
                        <label>Detail name</label>
                        <input type="text" name="detail_name[]"> 
                        <label>Detail Type</label>
                        <select name="detail_type" disabled><option>Textfield</option></select>


                      </div>
                 </div>
            </div>  
          </div>
          <!-- Panel 1 -->

    </div>  

    
  </fieldset>

    
    <a href="javascript:void(0)" class="btn btn-block btn-primary" ng-click="add()">Add</a>
<div class="clearfix"></div>
    <button type="submit" class="btn btn-default" ng-click="submit()">Submit</button>
    
</form>