<div class="well well-small" style="margin-bottom:50px">
	<div class="row">
		<div class="col-lg-2">
			<a href="#create" class="btn btn-primary">Create new workflow</a>
		</div>
		<div class="col-lg-10">
			<input type="text" class="form-control" ng-model="query" placeholder="Search workflows">
		</div>

	</div>	
	
	

</div>



<div style="margin-left:0" class="list-group" ng-repeat="workflow in workflows | filter:query" ng-controller="workflowManager">


	<div class="panel">
	  <div class="panel-heading"><h3 class="panel-title">{{workflow.name}} <a href="javascript:void(0)" class='btn-mini btn-link btn' ng-click="start(workflow,$event)">Start new Workflow</a></h3> </div>
	  {{workflow.description}}
	  <hr style="margin:10px 0" />
	 <a class='btn btn-link btn-mini' href="#edit/{{workflow.id}}"><i class="icon-edit"></i> Edit</a> 
	<a href="javascript:void(0)" class='btn-mini btn-link btn' ng-click="delete(workflow.id,$event)"> <i class="icon-remove"></i> delete</a> 
	</div>

</div>



<div class='search-filter-results' ng-hide="(workflows | filter:query).length">
		Sorry nothing found					
</div>
